{{define "pagecss" }}{{template "dashboard.css" . }}{{end}}
<div class="fill">
	<h1>Dashboard</h1>
	<div>
		<section>
			<h2>
				<i class="bx bx-pencil"></i>
				Add log entry
			</h2>
			<div>
				<form method="post">
					<fieldset>
						<span>
							<label for="substance">Substance</label>
							<select id="substance" name="substance">
								<option value="aspirin">Aspirin</option>
								<option value="ibuprofen">Ibuprofen</option>
							</select>
						</span>
						<span>
							<label for="amount">Amount (mg)</label>
							<input id="amount" name="amount" type="number" placeholder="100">
						</span>
						<span>
							<label for="route">RoA</label>
							<select id="route" name="route">
								<option value="oral">Oral</option>
								<option value="insufflated">Insufflated</option>
								<option value="intravenous">Intravenous</option>
								<option value="intramuscular">Intramuscular</option>
								<option value="sublingual">Sublingual</option>
								<option value="buccal">Buccal</option>
								<option value="boofed">Boofed</option>
							</select>
						</span>
						<span class="button">
							<label for="log"><i class="bx bx-pen"></i></label>
							<input id="log" type="submit" value="Log">
						</span>
					</fieldset>
				</form>
			</div>
		</section>
		<section>
			<h2>
				<i class="bx bx-bookmarks"></i>
				Upcoming schedule
			</h2>
			<div>
				<div>
					<p>100mg <i><b>Aspirin</b></i></p>
					<p title="2021-01-03 14:50 CET">
						in 3 minutes
					</p>
				</div>
				<hr>
				<div>
					<p>100mg <i><b>Aspirin</b></i></p>
					<p title="2021-01-03 13:50 CET">
						in 1 hour, 3 minutes
					</p>
				</div>
				<hr>
				<div>
					<p>200mg <i><b>Ibuprofen</b></i></p>
					<p title="2021-01-03 12:50 CET">
						in 2 hours, 3 minutes
					</p>
				</div>
				<hr>
			</div>
		</section>
		<section>
			<h2>
				<i class="bx bx-book-bookmark"></i>
				Your logs
			</h2>
			<div>
				<div>
					<p>100mg <i><b>Aspirin</b></i></p>
					<p title="2021-01-03 14:50 CET">
						3 minutes ago
						<br>
						via oral consumption
					</p>
				</div>
				<hr>
				<div>
					<p>100mg <i><b>Aspirin</b></i></p>
					<p title="2021-01-03 13:50 CET">
						1 hour, 3 minutes ago
						<br>
						via oral consumption
					</p>

				</div>
				<hr>
				<div>
					<p>200mg <i><b>Ibuprofen</b></i></p>
					<p title="2021-01-03 12:50 CET">
						2 hours, 3 minutes ago
						<br>
						via oral consumption
					</p>
				</div>
				<hr>
			</div>
		</section>
		<section>
			<h2>
				<i class="bx bx-book-content"></i>
				<a href="/log">Your friends' logs</a>
			</h2>
			<div>
				<h2>
					<i class="bx bx-plus-medical"></i>&nbsp;<b><a href="/user/">Bob</a></b>
				</h2>
				<div>
					<p>100ml <i><b>Skim Milk</b></i></p>
					<p title="2021-01-03 14:50 CET">
						3 minutes ago
						<br>
						via oral consumption
					</p>
				</div>
				<hr>
				<h2>
					<i class="bx bx-plus-medical"></i>&nbsp;<b><a href="/user/">Bob</a></b>
				</h2>
				<div>
					<p>100ml <i><b>Skim Milk</b></i></p>
					<p title="2021-01-03 14:50 CET">
						3 minutes ago
						<br>
						via oral consumption
					</p>
				</div>
				<hr>
				<h2>
					<i class="bx bx-plus-medical"></i>&nbsp;<b><a href="/user/">Bob</a></b>
				</h2>
				<div>
					<p>100ml <i><b>Skim Milk</b></i></p>
					<p title="2021-01-03 14:50 CET">
						3 minutes ago
						<br>
						via oral consumption
					</p>
				</div>
				<hr>
			</div>
		</section>
	</div>
</div>
