{{- /* TODO: range $friend := getFriends */ -}}
<div>
	<h2><b>Bob{{- /* $friend.Displayname */ -}}</b>&nbsp;(burgerman420{{- /* $friend.Username */ -}})</h2>
	<hr>
	<div>
		<a class="button" href="/user/{{- /* $friend.Username */ -}}">Visit Profile</a>
		<form method="post">
			<input type="hidden" name="remove-friend" value="{{- /* $friend.Username */ -}}">
			<span class="button danger">
				<input id="remove-friend-safety" type="checkbox">
				<label for="remove-friend-safety">Remove friend</label>
				<input id="remove-friend" type="submit" value="You sure?">
			</span>
		</form>
	</div>
</div>
{{- /* else */ -}}
<!--
<div>
	<h2>Your friend list is empty</h2>
	<hr>
	<span>Add some and come back to this page.</span>
</div>
-->
{{- /* end */ -}}
<div>
	<h2><b>Alice</b>&nbsp;(wonderland69)</h2>
	<hr>
	<div>
		<a class="button" href="/user/123">Visit Profile</a>
		<form method="post">
			<input type="hidden" name="remove-friend" value="123">
			<span class="button danger">
				<input id="remove-friend-safety" type="checkbox">
				<label for="remove-friend-safety">Remove friend</label>
				<input id="remove-friend" type="submit" value="You sure?">
			</span>
		</form>
	</div>
</div>
<div>
	<h2><b>Eve</b>&nbsp;(eavesdr0pper)</h2>
	<hr>
	<div>
		<a class="button" href="/user/123">Visit Profile</a>
		<form method="post">
			<input type="hidden" name="remove-friend" value="123">
			<span class="button danger">
				<input id="remove-friend-safety" type="checkbox">
				<label for="remove-friend-safety">Remove friend</label>
				<input id="remove-friend" type="submit" value="You sure?">
			</span>
		</form>
	</div>
</div>
