{{define "pagecss" }}{{template "log.css" . }}{{end}}
<div>
	{{- range $entry := .Entries -}}
		<h2><i class="bx bx-plus-medical"></i>&nbsp;<b><a href="/user/{{-  .User.Username  -}}">{{- .User.Displayname  -}}</a></b></h2>
		<div>
			<p> {{-  $entry.Amount }} {{ $entry.Unit }} <i><b> {{  $entry.Substance }} </b></i></p>
			<p title="{{-  $entry.Taken  -}}">{{ $entry.Taken}} via {{ $entry.Route}} </p>
		</div>
		<hr>
	{{-  else  -}}
		<!--
			<span>Bit empty here...</span>
		-->
	{{-  end  -}}
</div>
