<div>
	<h1>Login</h1>
	<form method="post">
		<span>
			<label for="login-username">Username</label>
			<input id="login-username" name="username" type="text" placeholder="someonespecial">
		</span>
		<span>
			<label for="login-password">Password</label>
			<input id="login-password" name="password" type="password" placeholder="*******">
		</span>
		<input type="submit" value="Go">
		<div>
			<details>
				<summary>Forgot Password?</summary>
				Tough luck, better save it next time.
			</details>
			<a href="/signup">Need an account?</a>
		</div>
	</form>
</div>