<div class="fill">
	<h1>Your Profile</h1>
	<section>
		<h2>
			<i class="bx bx-rename"></i>
			Account details
		</h2>
		<div>
			<h1>{{.User.Displayname}}</h1>
			<form method="post">
				<span>
					<label for="username">Username</label>
					<input id="username" name="username" type="text" placeholder="someonespecial" value="{{.User.Username}}" disabled>
				</span>
				<fieldset>
					<span>
						<label for="displayname">Display name</label>
						<input id="displayname" name="displayname" type="text" placeholder="Someone Special" value="{{.User.Displayname}}">
					</span>
					<span>
						<label for="email">E-Mail</label>
						<input id="email" name="email" type="email" placeholder="foo@example.com" value="{{.User.Email}}">
					</span>
				</fieldset>
				<span class="button">
					<label for="userdata-update">
						<i class="bx bx-refresh"></i>
					</label>
					<input id="userdata-update" type="submit" value="Update account">
				</span>
			</form>
		</div>
	</section>
	<section>
		<h2>
			<i class="bx bx-lock"></i>
			Change password
		</h2>
		<form method="post">
			<fieldset>
				<span>
					<label for="password-current">Current Password</label>
					<input id="password-current" name="password" type="password" placeholder="*******">
				</span>
				<span>
					<label for="password-new">New Password</label>
					<input id="password-new" name="password-new" type="password" placeholder="*************************">
				</span>
				<span>
					<label for="password-new-again">New Password, again</label>
					<input id="password-new-again" name="password-new-again" type="password" placeholder="*************************">
				</span>
			</fieldset>
			<span class="button">
				<label for="password-update">
					<i class="bx bx-refresh"></i>
				</label>
				<input id="password-update" type="submit" value="Update password">
			</span>
		</form>
	</section>
	<section>
		<h2>
			<i class="bx bx-error"></i>
			Danger zone
		</h2>
		<form method="post">
			<input type="hidden" value="delete-account">
			<span class="button danger">
				<label for="delete-account">
					<i class="bx bx-trash"></i>
				</label>
				<input id="delete-account-safety" type="checkbox">
				<label for="delete-account-safety">Delete account</label>
				<input id="delete-account" type="submit" value="You sure?">
			</span>
		</form>
	</section>
</div>