<ul>
	{{if .LoggedIn}}
	<li>
		<a href="/">
			<i class="bx bx-home"></i>
			<span>Dashboard</span>
		</a>
	</li>
	<li>
		<a href="/TODO">
			<i class="bx bx-user"></i>
			<span>Profile</span>
		</a>
	</li>
	<li>
		<a href="/TODO">
			<i class="bx bx-bell"></i>
			<span>Notifications</span>
			<span>420</span>
		</a>
	</li>
	<li>
		<a href="/TODO">
			<i class="bx bx-list-ul"></i>
			<span>Log</span>
			<span>69</span>
		</a>
	</li>
	<li>
		<a href="/TODO">
			<i class="bx bxs-user-account"></i>
			<span>Friends</span>
			<span>3</span>
		</a>
	</li>
	<li>
		<a href="/TODO">
			<i class="bx bx-cabinet"></i>
			<span>My Stock</span>
		</a>
	</li>
	{{else}}
	<li>
		<a href="/about">
			<i class="bx bx-question-mark"></i>
			<span>About</span>
		</a>
	</li>
	{{end}}
	<div></div>
	{{if .LoggedIn}}
	<li>
		<a href="/logout">
			<i class="bx bx-log-out"></i>
			<span>Logout</span>
		</a>
	</li>
	{{else}}
	<li>
		<a href="/signup">
			<i class="bx bx-user-plus"></i>
			<span>Sign up</span>
		</a>
	</li>
	<li>
		<a href="/login">
			<i class="bx bx-log-in"></i>
			<span>Login</span>
		</a>
	</li>
	{{end}}
</ul>
