<ul class="flex flex-col h-full">
	<li>
		<a href="/" class="flex flex-row items-center h-12 text-green-800 hover:text-green-900 hover:bg-gray-50">
			<span class="inline-flex items-center justify-center h-12 w-12 text-lg"><i class="bx bx-home"></i></span>
			<span class="text-sm font-medium">Dashboard</span>
		</a>
	</li>
	<li>
		<a href="/TODO" class="flex flex-row items-center h-12 text-green-800 hover:text-green-900 hover:bg-gray-50">
			<span class="inline-flex items-center justify-center h-12 w-12 text-lg"><i class="bx bx-user"></i></span>
			<span class="text-sm font-medium">Profile</span>
		</a>
	</li>
	<li>
		<a href="/TODO" class="flex flex-row items-center h-12 text-green-800 hover:text-green-900 hover:bg-gray-50">
			<span class="inline-flex items-center justify-center h-12 w-12 text-lg"><i class="bx bx-bell"></i></span>
			<span class="text-sm font-medium">Notifications</span>
			<span class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500">420</span>
		</a>
	</li>
	<li>
		<a href="/TODO" class="flex flex-row items-center h-12 text-green-800 hover:text-green-900 hover:bg-gray-50">
			<span class="inline-flex items-center justify-center h-12 w-12 text-lg"><i class="bx bx-list-ul"></i></span>
			<span class="text-sm font-medium">Log</span>
			<span class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500">69</span>
		</a>
	</li>
	<li>
		<a href="/TODO" class="flex flex-row items-center h-12 text-green-800 hover:text-green-900 hover:bg-gray-50">
			<span class="inline-flex items-center justify-center h-12 w-12 text-lg"><i class="bx bxs-user-account"></i></span>
			<span class="text-sm font-medium">Friends</span>
			<span class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500">3</span>
		</a>
	</li>
	<li>
		<a href="/TODO" class="flex flex-row items-center h-12 text-green-800 hover:text-green-900 hover:bg-gray-50">
			<span class="inline-flex items-center justify-center h-12 w-12 text-lg"><i class="bx bx-cabinet"></i></span>
			<span class="text-sm font-medium">My Stock</span>
		</a>
	</li>
	<div class="h-full"></div>
	<!-- TODO: add register link when not auth'd -->
	<!-- TODO: turn into "Login" when not auth'd -->
	<li class="border-t-4 border-dashed border-gray-50">
		<a href="/TODO" class="flex flex-row items-center h-12 text-green-800 hover:text-green-900 hover:bg-gray-50">
			<span class="inline-flex items-center justify-center h-12 w-12 text-lg"><i class="bx bx-log-out"></i></span>
			<span class="text-sm font-semibold">Logout</span>
		</a>
	</li>
</ul>
