<div>
	<h1>Signup</h1>
	<form method="post">
		<fieldset>
			<span>
				<label for="signup-username">Username</label>
				<input id="signup-username" name="username" type="text" placeholder="someonespecial">
			</span>
			<span>
				<label for="signup-password">Password</label>
				<input id="signup-password" name="password" type="password" placeholder="*******">
			</span>
			<span>
				<label for="signup-password-again">Password, again</label>
				<input id="signup-password-again" name="password-again" type="password" placeholder="*******">
			</span>
		</fieldset>
		<input type="submit" value="Go">
		<div>
			<a href="/login">Already registered?</a>
		</div>
	</form>
</div>