<form method="post" id="login">
	<span>
		<label for="login-username">Username</label>
		<input id="login-username" name="username" type="text" placeholder="someonespecial">
	</span>
	<span>
		<label for="login-password">Password</label>
		<input id="login-password" name="password" type="password" placeholder="*******">
	</span>
	<span>
		<label for="login-password-again">Password, again</label>
		<input id="login-password-again" name="password-again" type="password" placeholder="*******">
	</span>
	<a href="/login">Already registered?</a>
	<input type="submit" value="Sign up">
</div>