<div class="border-2 border-purple-700 bg-white p-10 pt-5 shadow-lg mx-auto self-center flex rounded ">
    <div class="sec flex-1">
        <span class="flex shadow-md mb-5 text-xs">
            <span class="bg-purple-700 w-40 font-black text-center text-gray-200 p-3 px-5 rounded-l">Username</span><input class="field text-sm text-green-700 p-2 px-3 rounded-r w-full font-mono focus:outline-none placeholder-green-400" type="text" placeholder="someonespecial">
        </span>
        <span class="flex shadow-md mb-5 text-xs">
            <span class="bg-purple-700 w-40 font-black text-center text-gray-200 p-3 px-5 rounded-l">Password</span><input class="field text-sm text-green-700 p-2 px-3 rounded-r w-full font-mono focus:outline-none placeholder-green-400" type="password" placeholder="*******">
        </span>
        <span class="flex shadow-md mb-5 text-xs">
            <span class="bg-purple-700 w-40 font-black text-center text-gray-200 p-3 px-5 rounded-l">Password, again</span><input class="field text-sm text-green-700 p-2 px-3 rounded-r w-full font-mono focus:outline-none placeholder-green-400" type="password" placeholder="*******">
        </span>
        <a href="/login" class="text-green-600 hover:underline font-bold text-xs ml-auto cursor-pointer">Already registered?</a>
        <span class="border-2 border-purple-700 hover:bg-purple-700 hover:text-gray-100 mt-3 text-purple-700 block text-center p-3 px-4 text-sm rounded cursor-pointer font-black">Sign up</span>
    </div>
</div>