:root {
	--primary: 109,40,217;
	--secondary: 6,95,70;

	--color-gray-50: 249,250,251;
	--color-gray-100: 243,244,246;
	--color-red-100: 254,226,226;
	--color-red-500: 239,68,68;
	--color-green-700: 4,120,87;

	--font-sans: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
	--font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	--shadow: 0 15px 12px -3px rgba(0,0,0,.1);
}

/* generic fucks */
*:focus, *:active {
	outline: none;
}
*, ::after, ::before {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
}
html {
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
	margin: 0;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: inherit;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	padding: 0;
	font-family: inherit;
	font-size: 100%;
	background: transparent;
}
/**/

body {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	margin: 0;
	font-family: var(--font-sans);
}

/* Sidebar */
body > nav {
	display: flex;
	flex-direction: column;
	width: 20rem;
	background: white;
	z-index: 50; /* for the box shadow */
	box-shadow: var(--shadow);
}
/* Sidebar header */
body > nav > div {
	display:flex;
	height: 5rem;
	justify-content: center;
	align-items: center;
}
/* Sidebar header text */
h1 {
	text-transform: lowercase;
	color: rgb(var(--primary));
	font-size: 2rem;
	font-family: var(--font-mono);
}
/* Sidebar list */
body > nav > ul {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-top-width: 4px;
	border-style: dashed;
	border-color: rgb(var(--color-gray-100));
}
/* Sidebar entry */
nav > ul > li > a {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 3rem;
	color: rgb(var(--secondary));
}
nav > ul > li > a:hover {
	background: rgb(var(--color-gray-50));
}
/* Sidebar entry icon */
nav > ul > li > a > i, i::before {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	font-size: 1.25rem;
}
/* Sidebar entry text */
nav > ul > li > a > span:nth-of-type(1) {
	font-size: .85rem;
}
/* Sidebar entry notification */
nav > ul > li > a > span:nth-of-type(2) {
	background: rgb(var(--color-red-100));
	color: rgb(var(--color-red-500));
	padding-left: .75rem;
	padding-right: .75rem;
	margin-left: auto;
	margin-right: 1.5rem;
	font-size: .85rem;
	border-radius: 9999px;
}
/* Sidebar shove spacer */
nav > ul > div {
	height: 100%;
	border-bottom-width: 4px;
	border-style: dashed;
	border-color: rgb(var(--color-gray-100));
}

/* Content */
body > div {
	display: flex;
	width: 100%;
	background: rgb(var(--color-gray-100));
}
/* Login box */
#login {
	display: flex;
	flex-direction: column;
	background: white;
	box-shadow: var(--shadow);
	padding: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	border-width: 2px;
	border-radius: .25rem;
	border-color: rgb(var(--primary));
}
/* Input groups */
#login > span {
	display: flex;
	box-shadow: var(--shadow);
	margin-bottom: 1.25rem;
	font-size: .85rem;
	border: 1px solid rgb(var(--color-gray-100));
	border-radius: .25rem;
	overflow: hidden;
}
#login > span > label {
	width: 10rem;
	color: rgb(var(--color-gray-100));
	background: rgb(var(--primary));
	text-align: center;
	padding: .75rem;
	font-weight: 900;
	user-select: none;
}
#login > span > input {
	width: 100%;
	color: rgb(var(--color-green-700));
	font-family: var(--font-mono);
	padding: .5rem;
	margin-left: .5rem;
}
/* "Forgot Password?" & "Already registered?" */
#login > details, #login > a{
	margin-top: .25rem;
	margin-bottom: -1.35275rem;
}
#login > details > summary, #login > a {
	text-align: right;
	font-size: .75rem;
	font-weight: 700;
	color: rgba(var(--primary),.5);
}
#login > a:hover {
	text-decoration: underline;
}
#login > details[open] > summary {
	color: rgb(var(--primary));
	text-decoration: underline;
	padding-right: -.75;
}
#login > details[open] {
	border-width: 2px;
	border-radius: .25rem;
	background: white;
	margin-bottom: 0;
	margin-top: 1.25rem;
	border-color: rgb(var(--primary));
	padding: .75rem;
	color: rgb(var(--secondary));
	background: rgba(var(--primary),.1);
}
/* Submit button */
#login > input[type=submit] {
	display: revert;
	margin: 0;
	background: white;
	color: rgb(var(--primary));
	padding: .75rem;
	font-weight: 900;
	border-radius: .25rem;
	border-width: 2px;
	border-color: rgb(var(--primary));
}
#login > input[type=submit]:hover {
	color: rgb(var(--color-gray-100));
	background: rgb(var(--primary));
	cursor: pointer;
}
