:root {
	--primary: 109,40,217;
	--secondary: 6,95,70;

	--color-gray-50: 249,250,251;
	--color-gray-100: 243,244,246;
	--color-red-100: 254,226,226;
	--color-red-500: 239,68,68;
	--color-green-700: 4,120,87;

	--font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	--shadow: 0 15px 12px -3px rgba(0,0,0,.1);
}

/* generic fucks */
*:focus, *:active {
	outline: none !important;
}
/**/

body {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

/* Sidebar */
body > nav {
	display: flex;
	flex-direction: column;
	width: 20rem;
	background: white;
	z-index: 50; /* for the box shadow */
	box-shadow: var(--shadow);
}
/* Sidebar header */
body > nav > div {
	display:flex;
	height: 5rem;
	justify-content: center;
	align-items: center;
}
/* Sidebar header text */
h1 {
	text-transform: lowercase;
	color: rgb(var(--primary));
	font-size: 2rem;
	font-family: var(--font-mono);
}
/* Sidebar list */
body > nav > ul {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-top-width: 4px;
	border-style: dashed;
	border-color: rgb(var(--color-gray-100));
}
/* Sidebar entry */
nav > ul > li > a {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 3rem;
	color: rgb(var(--secondary));
}
nav > ul > li > a:hover {
	background: rgb(var(--color-gray-50));
}
/* Sidebar entry icon */
nav > ul > li > a > i, i::before {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	font-size: 1.25rem;
}
/* Sidebar entry text */
nav > ul > li > a > span:nth-of-type(1) {
	font-size: .85rem;
}
/* Sidebar entry notification */
nav > ul > li > a > span:nth-of-type(2) {
	background: rgb(var(--color-red-100));
	color: rgb(var(--color-red-500));
	padding-left: .75rem;
	padding-right: .75rem;
	margin-left: auto;
	margin-right: 1.5rem;
	font-size: .85rem;
	border-radius: 9999px;
}
/* Sidebar shove spacer */
nav > ul > div {
	height: 100%;
	border-bottom-width: 4px;
	border-style: dashed;
	border-color: rgb(var(--color-gray-100));
}

/* Content */
body > div {
	display: flex;
	width: 100%;
	background: rgb(var(--color-gray-100));
}
/* Login box */
#login {
	display: flex;
	flex-direction: column;
	background: white;
	box-shadow: var(--shadow);
	padding: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	border-width: 2px;
	border-radius: .25rem;
	border-color: rgb(var(--primary));
}
/* Input groups */
#login > span {
	display: flex;
	box-shadow: var(--shadow);
	margin-bottom: 1.25rem;
	font-size: .85rem;
	border: 1px solid rgb(var(--color-gray-100));
	border-radius: .25rem;
	overflow: hidden;
}
#login > span > label {
	width: 10rem;
	color: rgb(var(--color-gray-100));
	background: rgb(var(--primary));
	text-align: center;
	padding: .75rem;
	font-weight: 900;
	user-select: none;
}
#login > span > input {
	width: 100%;
	color: rgb(var(--color-green-700));
	font-family: var(--font-mono);
	padding: .5rem;
	margin-left: .5rem;
}
/* Forgot Password? */
#login > #login-forgot {
	display: none;
}
#login > button {
	margin-left: auto;
	margin-bottom: .25rem;
	font-size: .75rem;
	font-weight: 700;
	color: rgba(var(--primary),.5);
}
#login > button:hover, #login > button:focus {
	text-decoration: underline;
}
#login > button:focus {
	color: rgb(var(--primary));
}
#login > button:focus + div {
	visibility: visible;
	opacity: 1;
}
#login > div {
	visibility: hidden;
	opacity: 0;
	transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out;
	position: absolute;
	margin-top: .5rem;
	padding: 1rem;
	width: 50%;
	height: 20%;
	transform: translateY(185%) translateX(-14%);
	background: white;
	box-shadow: var(--shadow);
	border-radius: .5rem;
	border: 2px solid rgb(var(--primary));
}
#login > div::before {
	position: absolute;
	content: ".";
	color: white;
	background: white;
	border: 2px solid rgb(var(--primary));
	width: 10vw;
	height: 10vw;
	transform: translateX(17.5rem) translateY(-4.3rem) rotate(45deg) skew(-20deg, -20deg);
	z-index: -2;
}
#login > div::after {
	position: absolute;
	content: ".";
	color: white;
	background: white;
	width: 20vw;
	height: 5vw;
	transform: translateX(14.5rem) translateY(-1rem);
	z-index: -1;
}
#login > div > * {
	position: absolute;
	color: rgb(var(--secondary));
}
/* Submit button */
#login > input[type=submit] {
	display: revert;
	margin: 0;
	background: white;
	color: rgb(var(--primary));
	padding: .75rem;
	font-weight: 900;
	border-radius: .25rem;
	border-width: 2px;
	border-color: rgb(var(--primary));
}
#login > input[type=submit]:hover {
	color: rgb(var(--color-gray-100));
	background: rgb(var(--primary));
	cursor: pointer;
}
