{{- $current := index .Path 0 -}}
{{- $login := printf "%t" .LoggedIn -}}
<ul>{{/*fields:	auth?	link/spacer		boxicon				bubble */}}
	{{- range .List
		(.List	"true"	"dashboard"		"bx-home"			"")
		(.List	"true"	"profile"		"bx-user"			"")
		(.List	"true"	"notifications"	"bx-bell"			"1")
		(.List	"true"	"log"			"bx-list-ul"		"3")
		(.List	"true"	"friends"		"bxs-user-account"	"7")
		(.List	"true"	"stock"			"bx-cabinet"		"!")
		(.List	""		"about"			"bx-question-mark"	"")
		(.List	""		"")
		(.List	"true"	"logout"		"bx-log-out"		"")
		(.List	"false"	"signup"		"bx-user-plus"		"")
		(.List	"false"	"login"			"bx-log-in"			"")
	-}}
		{{- if eq (index . 0) "" $login -}}
			{{- if eq (index . 1) "" -}}
				<div></div>
			{{- else -}}
				<li>
					<a href="/{{index . 1}}" {{if eq $current (index . 1) -}} class="selected" {{- end}}>
						<i class="bx {{index . 2}}"></i>
						<span>{{index . 1}}</span>
						<span>{{index . 3}}</span>
					</a>
				</li>
			{{- end -}}
		{{- end -}}
	{{- end -}}
</ul>
