{{- $current := .Title -}}
<ul>
	{{if .LoggedIn}}
	<li>
		{{- with $elem := "dashboard" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bx-home"></i>
				<span>{{-  $elem -}}</span>
			</a>
		{{- end -}}
	</li>
	<li>
		{{- with $elem := "profile" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bx-user"></i>
				<span>{{- $elem -}}</span>
			</a>
		{{- end -}}
	</li>
	<li>
		{{- with $elem := "notifications" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bx-bell"></i>
				<span>{{- $elem -}}</span>
				<span>{{- /* getNotificationCount*/ -}}</span>
			</a>
		{{- end -}}
	</li>
	<li>
		{{- with $elem := "log" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bx-list-ul"></i>
				<span>{{- $elem -}}</span>
				<span>{{- /* getLogUnreadCount */ -}}</span>
			</a>
		{{- end -}}
	</li>
	<li>
		{{- with $elem := "friends" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bxs-user-account"></i>
				<span>{{- $elem -}}</span>
				<span>{{- /*getFriendCount*/ -}}</span>
			</a>
		{{- end -}}
	</li>
	<li>
		{{- with $elem := "stock" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bx-cabinet"></i>
				<span>{{- $elem -}}</span>
			</a>
		{{- end -}}
	</li>
	{{else}}
	<li>
		{{- with $elem := "about" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bx-question-mark"></i>
				<span>{{- $elem -}}</span>
			</a>
		{{- end -}}
	</li>
	{{end}}
	<div></div>
	{{if .LoggedIn}}
	<li>
		{{- with $elem := "logout" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bx-log-out"></i>
				<span>{{- $elem -}}</span>
			</a>
		{{- end -}}
	</li>
	{{else}}
	<li>
		{{- with $elem := "signup" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bx-user-plus"></i>
				<span>{{- $elem -}}</span>
			</a>
		{{- end -}}
	</li>
	<li>
		{{- with $elem := "login" -}}
			<a href="/{{- $elem -}}" {{if eq $current $elem -}} class="selected" {{- end}}>
				<i class="bx bx-log-in"></i>
				<span>{{- $elem -}}</span>
			</a>
		{{- end -}}
	</li>
	{{end}}
</ul>
